In [22]:
import sys
from datetime import datetime
from sqlalchemy import (create_engine, MetaData, Column, Table, Integer, String, DateTime, select, update, delete)

print("Python version:", sys.version[:5])

Python version: 3.8.6

In [3]:
engine = create_engine("sqlite:///db/sqlachemycore.db",echo=True)

metadata = MetaData(bind=engine)

# DB Initialization
## Defining a table

In [5]:
user_table = Table("users", metadata,
                   Column("id", Integer, primary_key=True),
                   Column("name", String(40), index=True),
                   Column("age", Integer, nullable=False),
                   Column("password", String),
                   Column("created", DateTime, default=datetime.now),
                   Column("last_change", DateTime, 
                          default=datetime.now,
                          on_update=datetime.now))

## Creating tables

In [4]:
metadata.create_all()

2020-11-04 18:22:00,579 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-04 18:22:00,579 INFO sqlalchemy.engine.base.Engine ()
2020-11-04 18:22:00,580 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-04 18:22:00,581 INFO sqlalchemy.engine.base.Engine ()

# Inserting

In [6]:
conn = engine.connect()

In [5]:
ins = user_table.insert()
new_user = ins.values(name="Fábio",
                     age=29,
                     password="riodejaneiro")

conn.execute(new_user)

2020-11-04 11:36:13,382 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, age, password, created, last_change) VALUES (?, ?, ?, ?, ?)
2020-11-04 11:36:13,382 INFO sqlalchemy.engine.base.Engine ('Fábio', 29, 'riodejaneiro', '2020-11-04 11:36:13.382542', '2020-11-04 11:36:13.382542')
2020-11-04 11:36:13,384 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
conn.execute(user_table.insert(), [
    {"name": "Marivaldo", "age": 35, "password": "gatinho_123"},
    {"name": "Jean", "age": 19, "password": "jeanzinho_123"},
    {"name": "Juancy", "age": 27, "password": "souzapereira"},
    {"name": "Luciana", "age": 25, "password": "gatinha_luluzinha"}
])

2020-11-04 11:40:51,788 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, age, password, created, last_change) VALUES (?, ?, ?, ?, ?)
2020-11-04 11:40:51,789 INFO sqlalchemy.engine.base.Engine (('Marivaldo', 35, 'gatinho_123', '2020-11-04 11:40:51.788687', '2020-11-04 11:40:51.788687'), ('Jean', 19, 'jeanzinho_123', '2020-11-04 11:40:51.788687', '2020-11-04 11:40:51.788687'), ('Juancy', 27, 'souzapereira', '2020-11-04 11:40:51.788687', '2020-11-04 11:40:51.788687'), ('Luciana', 25, 'gatinha_luluzinha', '2020-11-04 11:40:51.788687', '2020-11-04 11:40:51.788687'))
2020-11-04 11:40:51,790 INFO sqlalchemy.engine.base.Engine COMMIT

# Select

In [16]:
s = select([user_table])
result = s.execute()

2020-11-04 18:24:05,318 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.age, users.password, users.created, users.last_change
FROM users
2020-11-04 18:24:05,319 INFO sqlalchemy.engine.base.Engine ()

In [17]:
for row in result:
    print(row)

(1, 'Fábio', 29, 'riodejaneiro', datetime.datetime(2020, 11, 4, 11, 36, 13, 382542), datetime.datetime(2020, 11, 4, 11, 36, 13, 382542))
(2, 'Marivaldo', 35, 'gatinho_123', datetime.datetime(2020, 11, 4, 11, 40, 51, 788687), datetime.datetime(2020, 11, 4, 11, 40, 51, 788687))
(3, 'Jean', 19, 'jeanzinho_123', datetime.datetime(2020, 11, 4, 11, 40, 51, 788687), datetime.datetime(2020, 11, 4, 11, 40, 51, 788687))
(4, 'Juancy', 27, 'souzapereira', datetime.datetime(2020, 11, 4, 11, 40, 51, 788687), datetime.datetime(2020, 11, 4, 11, 40, 51, 788687))
(5, 'Luciana', 25, 'gatinha_luluzinha', datetime.datetime(2020, 11, 4, 11, 40, 51, 788687), datetime.datetime(2020, 11, 4, 11, 40, 51, 788687))

# Update

In [21]:
u = update(user_table).where(user_table.c.name == "Juancy")

u = u.values(name="Juacy")

result = conn.execute(u)

result.rowcount

2020-11-04 18:30:13,528 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.name = ?
2020-11-04 18:30:13,529 INFO sqlalchemy.engine.base.Engine ('Juacy', 'Juancy')
2020-11-04 18:30:13,532 INFO sqlalchemy.engine.base.Engine COMMIT

1

# Delete

In [23]:
d = delete(user_table).where(user_table.c.name == "Juacy")

result = conn.execute(d)

result.rowcount

2020-11-04 18:43:43,599 INFO sqlalchemy.engine.base.Engine DELETE FROM users WHERE users.name = ?
2020-11-04 18:43:43,601 INFO sqlalchemy.engine.base.Engine ('Juacy',)
2020-11-04 18:43:43,603 INFO sqlalchemy.engine.base.Engine COMMIT

1