In [1]:
import sys
print("Python version:", sys.version[:5])
from pprint import pprint

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

Python version: 3.8.6

# Initializing engine and session

In [2]:
engine = create_engine("sqlite:///db/sqlachemyorm.db",echo=True)

Session = sessionmaker(bind=engine)
session = Session()

# Creating table

In [3]:
Base = declarative_base()

# Relation
class Product(Base):
    __tablename__ = 'products'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    person_id = Column(Integer, ForeignKey("people.id"))
    person = relationship('Person')

    def __repr__(self):
        return f"Product(name={self.name}, person={self.person})"

class Person(Base):
    __tablename__ = "people"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String)
    age = Column(Integer)
    products = relationship(Product, backref='people')

    def __repr__(self):
        return f'Person(id={self.id}, name={self.name}, age={self.age}, email={self.email}, products={self.products})'


Base.metadata.create_all(engine)

2020-11-05 17:27:47,954 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-11-05 17:27:47,955 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:47,956 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-11-05 17:27:47,957 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:47,958 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("products")
2020-11-05 17:27:47,959 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:47,960 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("products")
2020-11-05 17:27:47,961 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:47,962 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("people")
2020-11-05 17:27:47,963 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:47,963 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("people")
2020-11-05 17:27:47,964 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:47,965 INFO sqlalchemy.engine.base.Engine
CREATE TABLE people (
	id INTEGER NOT NULL,
	name VARCHAR,
	email VARCHAR,
	age INTEGER,
	PRIMARY KEY (id)
)


2020-11-05 17:27:47,966 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:47,971 INFO sqlalchemy.engine.base.Engine COMMIT
2020-11-05 17:27:47,972 INFO sqlalchemy.engine.base.Engine
CREATE TABLE products (
	id INTEGER NOT NULL,
	name VARCHAR,
	person_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(person_id) REFERENCES people (id)
)


2020-11-05 17:27:47,973 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:47,976 INFO sqlalchemy.engine.base.Engine COMMIT

# Inserting data

In [4]:
p1 = Person(name="Fausto", email="fausto@gmail.com", age=10)
p2 = Person(name="João", email="joaovfsousa@gmail.com", age=19)
p3 = Person(name="Fernando", email="fernando@gmail.com", age=23)
p4 = Person(name="Pedro", email="pedro@gmail.com", age=48)

session.add(p1)
session.add_all([p2, p3, p4])

session.commit()

2020-11-05 17:27:48,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-05 17:27:48,008 INFO sqlalchemy.engine.base.Engine INSERT INTO people (name, email, age) VALUES (?, ?, ?)
2020-11-05 17:27:48,009 INFO sqlalchemy.engine.base.Engine ('Fausto', 'fausto@gmail.com', 10)
2020-11-05 17:27:48,011 INFO sqlalchemy.engine.base.Engine INSERT INTO people (name, email, age) VALUES (?, ?, ?)
2020-11-05 17:27:48,012 INFO sqlalchemy.engine.base.Engine ('João', 'joaovfsousa@gmail.com', 19)
2020-11-05 17:27:48,013 INFO sqlalchemy.engine.base.Engine INSERT INTO people (name, email, age) VALUES (?, ?, ?)
2020-11-05 17:27:48,014 INFO sqlalchemy.engine.base.Engine ('Fernando', 'fernando@gmail.com', 23)
2020-11-05 17:27:48,014 INFO sqlalchemy.engine.base.Engine INSERT INTO people (name, email, age) VALUES (?, ?, ?)
2020-11-05 17:27:48,016 INFO sqlalchemy.engine.base.Engine ('Pedro', 'pedro@gmail.com', 48)
2020-11-05 17:27:48,017 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
p5 = Person(name="Leonardo", email="leo@gmail.com", age=41)

session.add(p5)
session.flush()

2020-11-05 17:27:48,050 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-11-05 17:27:48,051 INFO sqlalchemy.engine.base.Engine INSERT INTO people (name, email, age) VALUES (?, ?, ?)
2020-11-05 17:27:48,051 INFO sqlalchemy.engine.base.Engine ('Leonardo', 'leo@gmail.com', 41)

# Select

In [6]:
pprint(session.query(Person).all())

2020-11-05 17:27:48,078 INFO sqlalchemy.engine.base.Engine SELECT people.id AS people_id, people.name AS people_name, people.email AS people_email, people.age AS people_age
FROM people
2020-11-05 17:27:48,079 INFO sqlalchemy.engine.base.Engine ()
2020-11-05 17:27:48,081 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.name AS products_name, products.person_id AS products_person_id
FROM products
WHERE ? = products.person_id
2020-11-05 17:27:48,082 INFO sqlalchemy.engine.base.Engine (1,)
2020-11-05 17:27:48,083 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.name AS products_name, products.person_id AS products_person_id
FROM products
WHERE ? = products.person_id
2020-11-05 17:27:48,083 INFO sqlalchemy.engine.base.Engine (2,)
2020-11-05 17:27:48,084 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.name AS products_name, products.person_id AS products_person_id
FROM products
WHERE ? = products.person_id
2020-11-05 17:27:48,085 INFO sqlalchemy.engine.base.Engine (3,)
2020-11-05 17:27:48,086 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.name AS products_name, products.person_id AS products_person_id
FROM products
WHERE ? = products.person_id
2020-11-05 17:27:48,087 INFO sqlalchemy.engine.base.Engine (4,)
2020-11-05 17:27:48,088 INFO sqlalchemy.engine.base.Engine SELECT products.id AS products_id, products.name AS products_name, products.person_id AS products_person_id
FROM products
WHERE ? = products.person_id
2020-11-05 17:27:48,089 INFO sqlalchemy.engine.base.Engine (5,)
[Person(id=1, name=Fausto, age=10, email=fausto@gmail.com, products=[]),
 Person(id=2, name=João, age=19, email=joaovfsousa@gmail.com, products=[]),
 Person(id=3, name=Fernando, age=23, email=fernando@gmail.com, products=[]),
 Person(id=4, name=Pedro, age=48, email=pedro@gmail.com, products=[]),
 Person(id=5, name=Leonardo, age=41, email=leo@gmail.com, products=[])]