In [2]:
import sys
import sqlite3
print("Python version:", sys.version[:5])

Python version: 3.8.6

# Creating a table in SQLite3

In [5]:
# Open connection
con = sqlite3.connect('db/base.db')

# Defining cursor
cur = con.cursor()

# Defining query
sql = """
CREATE TABLE users (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                    name TEXT NOT NULL,
                    phone TEXT NOT NULL,
                    email TEXT UNIQUE NOT NULL)"""
# Attach sql to cursor                   
cur.execute(sql)

# Executes the sql in the db
con.commit()

# Close connection
con.close()

# Insert

In [8]:
con = sqlite3.connect('db/base.db')

cur = con.cursor()

sql = """
INSERT INTO users (name, phone, email)
    VALUES("João Sousa", "21900000000", "joaovfsousa@live.com")
"""

cur.execute(sql)

con.commit()

con.close()

# Defining some function to help

In [10]:
def db_insert(name, phone, email):
    return f"""
    INSERT INTO users (name, phone, email)
        VALUES("{name}", "{phone}", "{email}")
    """

con = sqlite3.connect('db/base.db')

cur = con.cursor()

cur.execute(db_insert("marivaldo", "999999998", "marivaldo@gmail.com"))

con.commit()

con.close()

# Update

In [15]:
def db_update(name, email):
    return f"""
           UPDATE users SET name = "{name}" WHERE email = "{email}"
           """

con = sqlite3.connect('db/base.db')

cur = con.cursor()

cur.execute(db_update("Matheus", "joaovfsousa@live.com"))

con.commit()

con.close()

# Delete

In [17]:
def db_delete(email):
    return f"""
            DELETE FROM users WHERE email="{email}"
            """

con = sqlite3.connect('db/base.db')

cur = con.cursor()

cur.execute(db_delete("joaovfsousa@live.com"))

con.commit()

con.close()

# Select

In [19]:
def db_select(data, field):
    return f"""
            SELECT id, name, phone, email
            FROM users
            WHERE {field}={data}
            """

con = sqlite3.connect('db/base.db')

cur = con.cursor()

cur.execute(db_select("2", "id"))

#con.commit() not used once we want to return a value

#returns one line from the result of the query
data = cur.fetchone()

con.close()

print(data)

(2, 'João', '21994677053', 'joaovfsousa@gmail.com')

# Aplying decorators

In [26]:
def commit_close(func):
    def decorator(*args):
        con = sqlite3.connect('db/base.db')
        cur = con.cursor()
        sql = func(*args)
        cur.execute(sql)
        con.commit()
        con.close()
    return decorator

In [29]:
@commit_close
def db_insert(name, phone, email):
    return f"""
    INSERT INTO users (name, phone, email)
        VALUES("{name}", "{phone}", "{email}")
    """
@commit_close
def db_update(name, email):
    return f"""
           UPDATE users SET name = "{name}" WHERE email = "{email}"
           """
@commit_close
def db_delete(email):
    return f"""
            DELETE FROM users WHERE email="{email}"
            """

def db_select(data, field):
    sql = f"""
            SELECT id, name, phone, email
            FROM users
            WHERE {field}={data}
            """

    con = sqlite3.connect('db/base.db')
    cur = con.cursor()
    cur.execute(sql)
    data = cur.fetchall()
    con.close()
    return data

# Using the decorated functions

In [28]:
db_insert("Regis", "98989898", "regis_@gmail.com")
db_insert("Fabricio", "98989898", "fabricio_@gmail.com")
db_insert("Mazinho", "98989898", "mazinho_@gmail.com")
db_insert("Diego", "98989898", "diego_@gmail.com")
db_insert("Ricardo", "98989898", "ricardo_@gmail.com")

In [30]:
db_select("98989898", "phone")

[(5, 'Regis', '98989898', 'regis_@gmail.com'),
 (6, 'Fabricio', '98989898', 'fabricio_@gmail.com'),
 (7, 'Mazinho', '98989898', 'mazinho_@gmail.com'),
 (8, 'Diego', '98989898', 'diego_@gmail.com'),
 (9, 'Ricardo', '98989898', 'ricardo_@gmail.com')]